{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.19"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime"
  ]
}
